[Unit]
Description=Zabbix Agent
After=syslog.target
After=network.target

[Service]
ExecStart=/opt/zabbix/plugins/prestart.sh
Type=forking
Restart=always
PIDFile=/run/zabbix/zabbix_agentd.pid
KillMode=process

[Install]
WantedBy=multi-user.target
